<div class="container">
    <div class="row">
        <div class="col-12 pt-5">
            <h1>Framework Angular</h1>    
        </div>        
        <div class="col-8">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit a quo, perspiciatis rem voluptatum veniam repellendus mollitia ipsa, quos illum neque incidunt dignissimos omnis earum eveniet voluptates? Vero, debitis mollitia?
                Recusandae ab tempora corporis harum soluta! Id at aperiam cupiditate nisi maxime, incidunt sunt quo dignissimos, quasi veritatis deserunt. Praesentium temporibus nostrum, minus ipsa deleniti autem inventore neque earum cumque.
                Tenetur numquam recusandae impedit distinctio sit optio possimus voluptates voluptatum. Voluptate soluta praesentium pariatur quo earum a numquam facere, repudiandae similique qui officia amet repellendus saepe error dolores reiciendis necessitatibus?
            </p>
                
        </div>
        <div class="col-4">
            <img class="w-50 h-auto" src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png" alt="">
        </div>
    </div>
    
</div>
